@charset "utf-8";
/* formatting style
-----------------------------------*/
* {
	font-style: normal;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: normal;
}
body {
	color: #333333;
	background-color: #FFFFFF;
	background-image: url(../img/bg.gif);
	background-repeat: repeat;
	/* font-family: sans-serif; */
	font-family:'MS PGothic',Verdana,Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Osaka,sans-serif;
	font-size: 75%;
	line-height: 1.6;
	margin: 0px;
}
hr {
	display: none;
}
ul {
	list-style: none;
}


/* link style
-----------------------------------*/
a img {
	border-style: none;
}
a:link {
	color: #000066;
	text-decoration: underline;
}
a:visited {
	color: #000066;
	text-decoration: underline;
}
a:hover {
	color: #3366CC;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
	position: relative;
	top: 1px;
	left: 1px;
}
