AuthUserfile /home/sites/heteml/users/t/h/e/the-vision/web/kokogos/live/.htpasswd
AuthGroupfile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user

ErrorDocument 401 /401.html